// Specific CSS for your home-page
.garden-name {
  color: white;
}

.garden-name:hover {
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.garden-list {
  margin: 60px 80px 80px 80px;
}

.no-padding {
  padding-left: 0px;
}

.padding-top {
  margin-top: 100px;
}
