.opener{
text-align: center;
margin-top: 10px;
margin-bottom: 20px;
}

hr {
  border-width: 1px;
  border-color: rgba(100,100,100,0.5);
  margin: auto;
  margin-bottom:10px;
  margin-top: 20px;
}
.booking-heading{
  margin-top: 20px;
}
