.owner {
  margin-top: 50px;
}

.garden-category {
  margin-top: 50px;
  margin-bottom: 50px;
}

.index-container {
  margin: 0px 80px;
}

// search box on index page
.keyword-search {
  display: flex;
}

.keyword-box {
  margin-right: 10px;
  padding-left: 10px;
}

.keyword {
  margin: 10px 0px;
  padding-left: 0px;
}

.form-check {
  display: none;
}  // bad programing fix never i mean later

.narrow-keyword {
  padding-right: 150px;
}

.map-show {

}

.edit_booking {
  padding-top: 20px;
}
