<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <div class="container">
    <h1><strong>GreenSpace</strong>!</h1>

    <p>Search will go here!</p>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
    <!-- a simple form to search in your area -->

        </div>
      </div>
    </div>

    <%= link_to "Search", gardens_path, class: 'btn btn-primary' %>
  </div>
</div>



