<div class="container">
  <h5>Edit search criteria</h5>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <% @gardens.each do |garden| %>
        <div class="card-product">
        <%= cl_image_tag garden.photo, height: 600, width: 400, crop: :fill unless garden.photo.blank? %>
        <div class="card-product-infos">
          <h2><strong><%= link_to garden.name, garden_path(garden.id) %></strong></h2>
          <p>Type of land available: <%= garden.category %></p>
          <p>Size: <%= garden.size %> acre</p>
        </div>
      </div>
      <br>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-1">
    </div>

    <div class="map">
      <div class="col-sm-12 col-md-4">
        <!-- placeholder map -->
      </div>
    </div>

  </div>
</div>
