.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
  position: absolute;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

li {
  padding: 0px 15px;
  color: white;
}

.logo {
  color: white;
}

#nav-share {
  color: white;
}

#color-white {
  .nav-link {
    color: white;
  }
}

.nav-item {
  margin-left: 16px;
  margin-right: 16px;
}

#logo {
  margin-left: 16px;
}
